[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pfreader = ">=0.0.4"
"pyqt5" = "*"

[dev-packages]
pyqt-distutils = "*"
bumpversion = "*"
pynsist = { version = "*", sys_platform = "== 'win32'" }
"py2app" = { version = "*", sys_platform = "== 'darwin'" }

[requires]
python_version = "3.7"
